p {
  font-size: 3rem;
  font-weight: 600;
  background: var(--lightColor);
  color: var(--lightTextColor);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 70px;
}

input {
  border: 2px solid var(--bgColor);
  background: var(--bgColor);
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in;
}

input:focus {
  outline: none;
  border-color: var(--lightColor);
}

button,
a {
  background: var(--bgColor);
  border: none;
  border-radius: 20px;
  padding: 15px 0;
  margin-bottom: 10px;
  width: 300px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: var(--lightColor);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover,
a:hover {
  background: var(--lightColor);
  color: var(--bgColor);
}

@media (max-width: 440px) {
  input {
    width: 85%;
  }
  button,
  a {
    width: 80%;
  }
}
